{% extends 'base.html' %}

{% block title %}Proyectos - PyShare{% endblock %}

{% block content %}
<div class="bg-dark text-light p-4 rounded shadow mt-4">
  <h2 class="mb-4">Proyectos compartidos</h2>

  {% if page_list %}
    {% for page in page_list %}
      <div class="d-flex align-items-start gap-4 mb-5 border-bottom pb-3">
        {% if page.image %}
          <img src="{{ page.image.url }}" alt="Imagen del proyecto"
               style="max-width: 150px; height: auto; object-fit: cover;"
               class="rounded shadow-sm">
        {% endif %}
        <div>
          <h4 class="text-white">{{ page.title }}</h4>
          <p class="text-light">{{ page.subtitle }}</p>
          <a href="{% url 'page_detail' page.pk %}" class="btn btn-success">Leer más</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No hay proyectos aún.</p>
  {% endif %}
</div>
{% endblock %}
